body,h1,h3,h4,p,dl,dd{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
img{
	vertical-align: top;
	border: none;
}
input{
	padding: 0;
	margin: 0;
	border: none;
}
