body{
	font-size:12px;
}
/*吊顶部分*/
header{
	/*width:100%;*/
	height:45px;
	background-color: #000;
}
.header{
	width:1180px;
	height:45px;
	margin:0 auto;
	/*background-color: blue;*/
}
.h1{
	width:166px;
	height:45px;
	background:url(../img/yule_logo.png) no-repeat;
	margin-right:27px;
	text-indent:-9999px;
}
.yule_dao{
	width:87px;
	height:31px;
	margin-top:8px;
	background:url(../img/yule_dao.png) no-repeat;
}
.form{
	width:446px;
	height:30px;
	/*background-color: red;*/
	margin-left:70px;
	margin-top:7px;
}
.header_input{
	width:370px;
	height:30px;
}
.header_s{
	width:76px;
	height:30px;
	background:url(../img/header_s.png) no-repeat;
}
.header_txt{
	width:360px;
	height:14px;
	/*background-color: red;*/
	margin-top:16px;
	color:#e5e5e5;
}
.play_history{
	background:url(../img/header105.png) no-repeat right;
	padding-right:12px;
	margin-left:10px;
}
.header_up{
	position:relative;
	padding-right:12px;
	background:url(../img/header105.png) no-repeat right;
}
.red_hot{
	position: absolute;
	right:7px;
	top:-5px;
	width:7px;
	height:7px;
	background:url(../img/header77.png) no-repeat;
}
.header_up:before{
	content:"";
	display:inline-block;
	width:14px;
	height:12px;
	vertical-align:bottom;
	background:url(../img/header1411.png) no-repeat;
}
.header_vip{
	margin-left:10px;
}
.login{
	padding-right:6px;
	margin-right:6px;
	background:url(../img/header141.png) no-repeat right;
}
/*head*/
.head{
	height:340px;
	background:url(../img/head_bg.png);
	
}
.head_main{
	position:relative;
	width:1180px;
	height:340px;
	margin:0 auto;
	/*background-color: blue;*/
}
.hd_nav{
	position:absolute;
	left:0;
	top:10px;
	width:1180px;
	height:34px;
	padding-top:2px;
	background-color: rgba(0,0,0,0.35);
	box-sizing:border-box;
	z-index:1;
}
.hd_a{
	line-height:32px;
	color:#fff;
	padding-right:12px;
	margin-right:11px;
}
.hd_a_right{
	line-height:32px;
	color:#fff;
	padding-right:10px;
}
.hd_a_line{
	background:url(../img/hd_a_line.png) no-repeat right;
}
.hd_a:hover,.hd_a_right:hover{
	color:#82d900;
}
.hd_ct{
	position:relative;
	width:768px;
	height:340px;
	margin:0 auto;
	/*background-color:olive;*/
}
.hd_ct_info{
	position:absolute;
	bottom:0;
	left:0;
	width:768px;
	height:70px;
	background-color: rgba(0,0,0,0.4);
}
.hd_dl{
	height:70px;
	width:360px;
	padding-left:90px;
	padding-top:7px;
	box-sizing:border-box;
	background:url(../img/hd_pla.png) no-repeat 21px 11px;
}
.hd_dt{
	font-size:18px;
	color:#fff;
	line-height:31px;
}
.hd_dd{
	font-size:12px;
	color:#fff;
	line-height:25px;
}
.hd_ul{
	width:406px;
	padding-left:2px;
	height:50px;
	margin-top:10px;
	/*background-color: tomato;*/
}
.hd_ul li{
	cursor:pointer;
}
.hd_li{
	border:1px solid #525252;
}
.hd_li:hover{
	border:1px solid #6db506;
}
/*section*/
section{
	width:1180px;
	margin:0 auto;
	/*background-color: teal;*/
}
/*se-头条*/
.headline{
	box-sizing:border-box;
	height:369px;
	border-bottom:1px solid #e7e7e7;
}
.hl_head{
	height:68px;
	padding-top:20px;
	box-sizing:border-box;
	/*background-color: red;*/
}
.h2{
	font-size:22px;
	color:#699f00;
	padding-top:9px;
}
.more_more{
	color:#699f00;
	margin-left:8px;
	line-height:46px;
	margin-right:28px;
}
.hl_head_div_a{
	margin-top:18px;
}
.div_a_a{
	color:#333;
	margin-right:14px;
	padding-right:16px;
}
.div_a_line{
	background:url(../img/a_line.png) no-repeat right;
}
.hl_main{
	height:301px;
	box-sizing:border-box;
	/*background-color: blue;*/
}
.hl_main_left{
	width:380px;
	height:301px;
	margin-right:20px;
	/*background-color: red;*/
}
.hl_main_text{
	width:380px;
	height:301px;
	/*background-color: red;*/
	margin-right:20px;
}
.hl_main_text .bx, .hl_main_text .qp{
	padding-bottom:7px;
	border-bottom:1px dotted #ccc;
}
.hl_main_text dt{
	font-size:18px;
	line-height:32px;	
}
.hl_main_text .bx_dd, .hl_main_text .nc_dd{
	line-height:40px;
	background:url(../img/45.png) no-repeat left;
	padding-left:12px;
}
.hl_main_text .qp, .hl_main_text .nc{
	padding-top:12px;
}
.hl_main_text .qp_dd{
	line-height:38px;
	background:url(../img/45.png) no-repeat left;
	padding-left:12px;
}
.hl_main_ul{
	width:380px;
	height:301px;
	/*background-color: palegreen;*/
}
.li_180_pic{
	cursor:pointer;
}
.li_180_txt{
	line-height:28px;
}
/*猜你喜欢*/
.may_like{
	height:189px;
	/*background-color: teal;*/
}
.ml_head{
	height:60px;
	/*background-color: red;*/
}
.ml_head_h2{
	padding-top:21px;
}
.ml_head_more{
	color:#699f00;
	padding-top:29px;
	margin-left:9px;
	margin-right:29px;
}
.ml_head_div_a{
	margin-top:30px;
}
/*明星资讯*/
.news{
	/*width:1180px;*/
	height:349px;
	box-sizing:border-box;
	border-bottom:1px solid #e7e7e7;
	/*background-color: red;*/
}
.news_head{
	height:58px;
	/*background-color: blue;*/
}
.news_main{
	height:290px;
	/*background-color: lawngreen;*/
}
.huge_txt{
	line-height:28px;
}
.hanyu{
	height:351px;
	box-sizing:border-box;
	border-bottom:1px solid #e7e7e7;
}
.hanyu_head{
	height:60px;
}
/*影视资讯*/
.movie{
	height:350px;
	/*background-color: teal;*/
}
.me_left{
	width:980px;
	height:350px;
	margin-right:20px;
	/*background-color: blue;*/
}
.me_left_head{
	width:980px;
	height:60px;
}
.me_left_ul{
	width:980px;
	height:290px;
}
.me_num{
	width:180px;
	height:350px;
	/*background-color: blue;*/
}
.me_num_ol{
	margin-bottom:22px;
}
.more_180{
	margin-right:0;
}
.me_num_head{
	height:60px;
}
.ol_one{
	margin-bottom:3px;
}
.ol_txt{
	height:33px;
	padding-top:4px;
	box-sizing:border-box;
	border-bottom:1px dotted #ccc;
}
.ol_span{
	line-height:28px;
}
.ol_pic{
	margin-top:5px;
}
/*redian*/
.redian{
	padding-bottom:22px;
	border-bottom:1px solid #e7e7e7;
}
/*yinyue*/
.music{
	height:350px;
}
/*aiyqi出品*/
.qiyi{
	height:358px;
	/*background-color: blue;*/
}
.qiyi_head{
	height:60px;
}
.qiyi_ul{
	height:298px;
	/*background-color: teal;*/
}
/*友情链接*/
.friendLink{
	width:1180px;
	height:126px;
	box-sizing:border-box;
	border:1px solid #f1f1f1;
	background-color: #f6f6f6;
	padding-top:13px;
	padding-left:14px;
}
.fl_head{
	height:34px;
	color:#518900;
	/*background-color: red;*/
}
.h3{
	font-size:16px;
	line-height:34px;
	margin-right:12px;
}
.h3_more{
	font-size:12px;
	line-height:34px;
}
.fl_a{
	color:#333;
	line-height:22px;
	width:80px;
}
.zeren_write{
	margin-top:42px;
	line-height:32px;
	text-align:right;
}
/*footer部分*/
footer{
	height:87px;
	border-top:1px solid #ccc;
	box-sizing: border-box;
}
footer .tab{
	width:1180px;
	padding-top:22px;
	line-height:24px;
	margin:0 auto;
	text-align:center;
}
footer .tab_a{
	color:#333;
	padding-right:12px;
	margin-right:8px;
}
.footer_line{
	background:url(../img/mu_line.png) no-repeat right;
}
.footer_info{
	line-height:22px;
	width:1180px;
	margin:0 auto;
	text-align:center;
}

