body{
	font-size:12px;
	color:#ccc;
}
.line{
	position:absolute;
	right:0px;
	top:0px;
	width:1px;
	height:88px;
	background-position: 0px -143px;
}
a{
	color:#ccc;
}
/*136*/
.li_t{
	height:101px;
	width:180px;
}
.li_b{
	height:22px;
	width:175px;
	padding-left:5px;
	padding-top:12px;
}
/*155*/
.li_small{
	width:180px;
	height:155px;
}
.li_div{
	width:180px;
	height:101px;
}
.li_text{
	width:180px;
	height:53px;
}
.text_t{
	position:absolute;
	left:5px;
	top:12px;
}
.text_icon{
	position:absolute;
	left:5px;
	top:33px;
	width:11px;
	height:11px;
	background-position: 0px -325px;
	*overflow: hidden;
}
.text_b{
	position:absolute;
	left:25px;
	top:32px;
}
.text_bottom{
	position:absolute;
	left:5px;
	top:32px;
}
/*325*/
.li_title{
	width:380px;
	height:325px;
}
.li_pic{
	width:380px;
	height:270px;
}
.li_bm{
	width:380px;
	height:54px;
}
.bm_t{
	position: absolute;
	left:10px;
	top:12px;
}
.bm_b{
	position: absolute;
	left:5px;
	top:32px;
}