@charset "UTF-8";
#fm_music {
  width: 300px;
  height: 480px;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  overflow: visible;
  margin: 100px 0 0 100px;
}
#fm_music #header {
  width: 300px;
  height: 50px;
}
#fm_music #header #back {
  width: 36px;
  height: 36px;
  padding: 14px 14px 0 0;
  color: #fff;
}
#fm_music #header #info {
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  padding-top: 13px;
  border-bottom: 1px solid #b4a0ad;
}
#fm_music #header #info p {
  line-height: 18px;
}
#fm_music #header #info .song {
  color: #fff8f9;
}
#fm_music #header #info .singer {
  color: #818b92;
}
#fm_music #header #func {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 14px 10px 0 0;
  color: #fff;
  cursor: pointer;
}
#fm_music #header #func .change_list {
  position: absolute;
  left: 55px;
  top: 25px;
  width: 100px;
  height: 375px;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 2px 0px 2px #888;
}
#fm_music #header #func .change_list li {
  position: relative;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #000;
  cursor: pointer;
}
#fm_music #header #func .change_list li:hover {
  background-color: #db4437;
  color: #fff;
}
#fm_music #lyric {
  position: relative;
  height: 240px;
  overflow: hidden;
}
#fm_music #lyric .panel {
  position: absolute;
  width: 300px;
}
#fm_music #lyric .panel .rotor {
  width: 200px;
  height: 200px;
  background-image: url(../img/zhuan.png);
  background-size: cover;
  margin: 40px auto;
  text-align: center;
}
#fm_music #lyric .panel .rotor .song_img {
  width: 126px;
  height: 126px;
  margin: auto;
  border-radius: 50%;
  margin-top: 37px;
}
#fm_music #lyric .panel #point {
  position: absolute;
  left: 144px;
  top: -3px;
  width: 60px;
  height: 88px;
  transform-origin: 10px 0;
  transition: 0.5s;
  background-image: url(../img/point.png);
  background-size: cover;
}
#fm_music #lyric .lyrics {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 240px;
}
#fm_music #lyric .lyrics .lyric_box {
  position: absolute;
  top: 40px;
  width: 300px;
  height: 200px;
  padding-top: 40px;
  overflow: hidden;
}
#fm_music #lyric .lyrics .lyric_box .lyric_p {
  position: absolute;
  top: 80px;
  width: 300px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-family: Arial, '微软雅黑';
  color: rgba(170, 170, 170, 0.7);
}
#fm_music #volume {
  height: 24px;
  padding-left: 50px;
  padding-right: 50px;
}
#fm_music #volume #vol .lable {
  width: 24px;
  height: 24px;
  color: #fff;
  cursor: pointer;
}
#fm_music #volume #vol .range {
  position: relative;
  margin-left: 10px;
  height: 20px;
}
#fm_music #volume #vol .range .vol_t {
  position: relative;
  top: 11px;
  width: 106px;
  height: 2px;
  background-color: rgba(102, 102, 102, 0.6);
  cursor: pointer;
}
#fm_music #volume #vol .range .vol_f {
  position: relative;
  top: 9px;
  width: 100px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
#fm_music #volume #vol .range .vol_point {
  position: relative;
  left: 100px;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
#fm_music #volume #lyric_btn {
  height: 30px;
  color: #fff;
  cursor: pointer;
}
#fm_music #volume #lyric_btn p {
  line-height: 30px;
}
#fm_music #rate {
  height: 30px;
  padding: 0 30px 0 30px;
  color: #fff;
  font-size: 14px;
}
#fm_music #rate .rate_begin {
  line-height: 30px;
}
#fm_music #rate .rate_line {
  position: relative;
  width: 170px;
  height: 2px;
  margin-left: 10px;
  margin-top: 9px;
  cursor: pointer;
}
#fm_music #rate .rate_line .rate_line_begin {
  position: relative;
  top: 0;
  left: 0;
  width: 170px;
  height: 2px;
  background-color: rgba(102, 102, 102, 0.6);
}
#fm_music #rate .rate_line .rate_line_end {
  position: relative;
  top: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #db4437;
}
#fm_music #rate .rate_line .rate_line_point {
  position: relative;
  top: -6px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 5px #fff;
  cursor: pointer;
}
#fm_music #play_control {
  width: 180px;
  height: 80px;
  margin: 0 auto;
  color: #fff;
}
#fm_music #play_control .play {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  margin: 15px 25px 0 25px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
#fm_music #play_control .prev, #fm_music #play_control .next {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  box-sizing: border-box;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

#fm_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/azusa.png);
  background-size: cover;
  position: relative;
  left: 99px;
  top: 120px;
  cursor: pointer;
  animation-duration: 2s;
}

.change_list::-webkit-scrollbar {
  width: 2px;
  background-color: #fff;
}

.change_list::-webkit-scrollbar-thumb {
  background-color: rgba(187, 187, 187, 0.7);
  height: 10px;
  border-radius: 3px;
}

.change_list::-webkit-scrollbar-button {
  height: 0px;
}
