html,
body,
ul,
li,
dl,
dt,
dd,
div,
p,
a {
    padding: 0;
    margin: 0;
}
ul,
li {
    list-style: none;
}
body{
	font-size: 12px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content:'';
	display:block;
	clear:both;
}
.dn{
	display:none;
}
.db{
	display:block;
}
